<% const page = 'add'; %> <!-- Current page identifier -->
<% include partials/header %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Workout</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<header class="header">
    <!-- Logo and site name -->
    <div class="logo">
        <img src="/images/logo-workit.PNG" alt="Workit Logo" class="logo-img">
        <h1 class="site-name">Workit</h1>
    </div>

    <!-- Navigation menu -->
    <nav class="nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/workouts/add" class="nav-link nav-link-active">Add Workout</a>
        <a href="/workouts" class="nav-link">My Workouts</a>
    </nav>
</header>

<main class="hero workouts-hero">
    <!-- Heading changes if editing an existing workout -->
    <h2 class="workouts-heading-main">Add a New Workout</h2>


    <div class="workouts-wrapper">
        <div class="workouts-card">

            <!-- Workout form (using Bootstrap form classes for styling) -->
            <form id ="form" action="/books/add" method="POST">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="Name" name="Name" required 
      placeholder="Enter the workout name"
      > 

    </div>
    <br>
    <div class="form-group">
      <label for="Type">Type</label>
      <input type="text" class="form-control" id="Type" name="Type" required 
      placeholder="Enter the workout type"
      >
    </div>
    <br>
    <div class="form-group">
      <label for="Duration">Duration (in minutes)</label>
      <input type="number" class="form-control" id="Duration" name="Duration" required 
      placeholder="Enter the workout duration"
      >
    </div>
    <br>
    <div class="form-group">
      <label for="Date">Date</label>
      <input type="date" class="form-control" id="Date" name="Date" required 
      placeholder="Enter the workout date"
      >
    </div>
    <br>
    <div class="form-group">
      <label for="review">Review</label>
      <textarea class="form-control" id="review" name="review" rows="3" required
        placeholder="Enter your review"></textarea>
    </div>
    <br>
    <button id ="submit" type="submit" class="btn btn-primary">Add Book</button>
    
    <a href="/books" class="btn btn-secondary">Cancel</a>


  </form>

        </div>
    </div>
</main>

<footer>
    <p>&copy; 2025 Workit · INFR3120 Project</p>
</footer>

</body>
</html>

<% include partials/footer %>
