<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - WorkIt</title>
</head>
<body>

    <h1>Create Your Account</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Sign Up</h1>

            <form method="post" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"></label>
                    <input 
                        type="text" 
                        class="form-control"
                        name="username"
                        placeholder="Enter username"
                        id="username"
                        required 
                        autofocus
                    >
                </fieldset>

                <fieldset class="form-group">
                    <label for="password"></label>
                    <input 
                        type="password" 
                        class="form-control"
                        name="password"
                        placeholder="Enter password"
                        id="password"
                        required
                    >
                </fieldset>

                <fieldset class="form-group">
                    <label for="confirmPassword"></label>
                    <input 
                        type="password" 
                        class="form-control"
                        name="confirmPassword"
                        placeholder="Confirm password"
                        id="confirmPassword"
                        required
                    >
                </fieldset>

                <fieldset class="form-group text-right">
                    <input 
                        type="submit" 
                        class="btn btn-success" 
                        value="Sign Up"
                    >
                    <input 
                        type="button" 
                        class="btn btn-warning" 
                        value="Cancel"
                        onclick="window.location='/'"
                    >
                </fieldset>
            </form>

    <p>Already have an account? <a href="/signin">Sign In</a></p>

    
    <%- include('partials/footer') %>

</body>
</html>
